* text=auto

# Dotnet
*.cs text diff=csharp
*.sln text eol=crlf
*.slnx text eol=crlf
*.csproj text eol=crlf

# Force bash scripts to always use lf line endings
*.sh text eol=lf

# R
*.Rdata binary
*.RData binary
*.rda   binary
*.Rmd text diff=markdown
*.Rd text
*.rdb filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
*.Rdx filter=lfs diff=lfs merge=lfs -text
*.R text diff=rstats
*.Rproj text

# Jupyter notebook
*.ipynb text

# Web
*.css text diff=css
*.scss text diff=css
*.sass text
*.htm text diff=html
*.html text diff=html
*.md text diff=markdown linguist-detectable

# Data
*.csv eol=crlf

# Images
*.gif -text
*.ico -text
*.jpg -text
*.pdf binary
*.png -text
*.psd -text
*.svg text

# Archives
*.7z -text
*.br -text
*.gz -text
*.tar -text
*.zip -text

# VS Code
.vscode/*.json linguist-language=JSON-with-Comments

# Fixes syntax highlighting on GitHub to allow comments
.devcontainer.json linguist-language=JSON-with-Comments
devcontainer.json linguist-language=JSON-with-Comments
